

.container{
    padding-bottom: 5vh;
}

.status-th{
    text-align: center;
    
}

.activeProjectsText{
    display: flex;
    max-width: 1200px;
    text-align: left;
    margin: 45px auto;
    margin-bottom: 2vh;

}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));

    column-gap: 3vw;
    row-gap: 5vh;

    max-width: 1200px;
    margin: 0 auto;
}

.chartCard {

    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 60px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.dashBoardTitle{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.dashBoardTitle h1{
    margin-bottom: 0;
}

.dashBoardParagraph{
    padding-left: 110px;
    padding-right: 70px;
    margin-top: 0;
    padding-top: 0;
}










