
.statusBadge{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    justify-content: center;

    width: 5vw;
    height: 32px;
    padding: 0 20px;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;

    font-size: 0.8rem;
    font-weight: 900;



}