

.confirmWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: center;

    padding: 50px 50px;
    gap: 10px;
}

.iconAnim{
    color: #F58F47;
    animation: success-pop 0.4s ease-out;
}

@keyframes success-pop{
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    60%{
        opacity: 1;
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.loadingSubText p{
    margin: 0;
}

.loadingText{
    margin: 25px 0 0;
    font-weight: 550;
    font-size: 1.3rem;
    
}

.buttonWrapper{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px 15px;
    gap: 25px;
}

.confirmButton{
    display: flex;

    transition: all 0.2s ease-in-out;

    height: 50px;
    vertical-align: middle;
    align-items: center;
    padding: 25px;
    gap: 12px;

    background-color: rgb(60, 135, 248);
    border:none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 30px;

}

.cancelButton{
    display: flex;

    transition: all 0.2s ease-in-out;

    height: 50px;
    vertical-align: middle;
    align-items: center;
    padding: 25px;
    gap: 12px;

    background-color: #eb4949;
    border:none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 30px;

}

.confirmButton:hover{
    cursor: pointer;
    scale: 1.05;
    background-color: rgb(34, 103, 207);
}

.cancelButton:hover{
    cursor: pointer;
    scale: 1.05;
    background-color: #b93030;
}